<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>feedme</title>
	<style type="text/css">@import 'styles.css';</style>
</head>
<body>

<h1>Feed Me Weird Things</h1>

<h2>Available Feeds</h2>

<ul>
#for feed in $available_feeds
	<li><a href="$req.get_path('feeds', $feed.url_code)">$feed.title</a> - <p>$feed.description</p></li>
#end for
</ul>

</body>
</html>