<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>feedme</title>
	<style type="text/css">@import 'styles.css';</style>
</head>
<body>

<h1>Feed Me Weird Things</h1>

<h2>Available Feeds</h2>

<ul>
#for feed in $available_feeds
	<li><a href="$req.get_path('feeds', $feed.url_code)">$feed.title</a> - <p>$feed.description</p></li>
#end for
</ul>

#if $req.app.config.get('use_analytics', False)
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-427877-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
#end if

</body>
</html>